<section class="general">
	<div class="block_cntt pin">
		<img src="images/top02.png">
		<span class="channel">CANAL 1</span>
		<span class="channel">CANAL 2</span>
	</div>
	<header>
		<h1 class="logo">
			<img src="images/logo_fcpeo.png" />
		</h1>
		<div class="col_02">
			<p class="line_01">ASSISTA <span>AO VIVO</span></p>
			<h2 class="line_02">MESA REDONDA</h2>
			<p class="line_03">XI EXAME DE ORDEM UNIFICADO - 2ª FASE</p>
			<p class="line_04"><strong>FACEBOOKCAM</strong> 06 DE OUTUBRO</p>
			<p class="line_05">A PARTIR DAS 19h30 (horário de Brasília)</p>
			<p class="line_06"></p>
		</div>
	</header>
	<section class="content">
		<div class="video">
			<!-- Video aqui -->
			<span class="thumb"><img src="images/z_lixo_imgvideo.jpg" /></span>
			<a href="#" class="btn_play"><img src="images/btn_play.png" /></a>
			
		</div>
	</section>
	<section class="schedule">
		<a href="#" class="channel_1"></a>
		<a href="#" class="channel_2"></a>
		<img src="images/programacao_cn1.png" />
		<img src="images/programacao_cn2.png" />
	</section>
	<section class="newsletter_form">
		<div class="col_01">
			<p class="line_01">QUER RECEBER INFORMAÇÕES SOBRE <br/>O EXAME DE ORDEM?</p>
			<p class="line_02">CADASTRE-SE AQUI PARA RECEBER AS ÚLTIMAS DICAS</pbr/> E INFORMAÇÕES PARA A PROVA DA OAB.</p>
		</div>
		<div class="col_02">
			<label for="txt_nome">Nome</label>
			<input type="text" class="txt" id="txt_nome" />
			<label for="txt_email">E-mail</label>
			<input type="text" class="txt" id="txt_email" />
			<input class="btn_submit" type="submit" value="Cadastrar" />
		</div>
	</section>
	<footer>
		<a href="http://www.portalexamedeordem.com.br/" target="_blank">www.portalexamedeordem.com.br</a>
	</footer>

</section>
		

<script type='text/javascript'>
	jwplayer('badumtss').setup({
		file: 'https://www.youtube.com/watch?v=6zXDo4dL7SU',
		title: 'Ba Dumm Tss',
		width: '50%',
		image: "http://www.omni-bus.com/n27/imagenes/rapper.jpg",
		aspectratio: '16:9',
		fallback: 'true',
		autostart: 'false',
		primary: 'flash'
	});
</script>