<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=372248136241124";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<section class="general">
	<div class="block_cntt pin">
		<img src="/assets/top01.png">
	</div>

	<header>
		<h1 class="logo">
			<img src="/assets/logo_fcpeo.png" />
		</h1>
		<div class="col_02">
			<p class="line_01">ASSISTA <span>AO VIVO</span></p>
			<h2 class="line_02">ÚLTIMO TREINO</h2>
			<p class="line_03">XI EXAME DE ORDEM UNIFICADO - 2ª FASE</p>
			<p class="line_04"><strong>FACEBOOKCAM</strong> 05 DE OUTUBRO</p>
			<p class="line_05">A PARTIR DAS 08h00 (horário de Brasília)</p>
			<p class="line_06"></p>
		</div>
	</header>

	<section class="content">
		<div id='video' class="video">
			<!-- Video aqui -->
			<span class="thumb"><img src="/assets/z_lixo_imgvideo.jpg" /></span>
			<a href="#" class="btn_play"><img src="/assets/btn_play.png" /></a>
		</div>
	</section>

	<section class="schedule">
		<img src="/assets/programacao.png" />
	</section>

	<section class="newsletter_form">
		<div class="col_01">
			<p class="line_01">QUER RECEBER INFORMAÇÕES SOBRE <br/>O EXAME DE ORDEM?</p>
			<p class="line_02">CADASTRE-SE AQUI PARA RECEBER AS ÚLTIMAS DICAS</pbr/> E INFORMAÇÕES PARA A PROVA DA OAB.</p>
		</div>
		<div class="col_02">
				<form action="http://cers.mailee.me/go/add_contact_form" id="mailee-form" method="post">
					<input name="key" type="hidden" value="994119">
					<input name="url_ok" type="hidden" value="https://www.facebook.com/portalexamedeordem/app_372248136241124">
					<input name="url_error" type="hidden" value="https://www.facebook.com/portalexamedeordem/app_372248136241124">
					<input name="list[]" type="hidden" value="523864">

					<label for="txt_nome">Nome</label>
					<input name="name" type="text" class="txt" id="txt_nome" />
					<label for="txt_email">E-mail</label>
					<input name="email" type="text" class="txt" id="txt_email" />
					<input class="btn_submit" type="submit" value="Cadastrar" />
				</form>
		</div>
	</section>

	<footer>
		<a href="http://www.portalexamedeordem.com.br/" target="_blank">www.portalexamedeordem.com.br</a>
	</footer>

	<div class="fb-comments" data-href="http://www.portalexamedeordem.com.br#ultimo_treino_oab_xii_ii" data-numposts="10" data-width="810"></div>
</section>
		

<script type='text/javascript'>
	function sendURL(){}

	jwplayer("video").setup({
		flashplayer: '/assets/skins/player-licensed.swf',
		height: '354px',
		width: '640px',
		autostart: true,
		controlbar: 'bottom',
		dock : false,
		modes: [
		{ 
			type: 'flash', 
			src: "/assets/skins/player-licensed.swf", 
			config: { 
				skin : "/assets/skins/cers.zip",
				provider : "http://players.edgesuite.net/flash/plugins/jw/v2.	11/jw5/AkamaiAdvancedJWStreamProvider.swf",
				file : "http://renatosaraiva-f.akamaihd.net/rsaraiva_1_<%=@channel%>@37037"
			}
		}, 
		{ 
			type: 'html5', 
			config: {
				skin : "/assets/skins/cers.xml",
				file : "http://rsaraiva_ios-i.akamaihd.net/hls/live/203931/cers<%=@channel%>/playlist.m3u8",
				provider : 'video'
			}
		}
		]
	});

</script>